<%- include("./partials/header")  %>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Todo App</a>
    <a class="navbar-brand" href="/about">About</a>
</nav>

<div>
    Welcome to Collaborative ToDo App, where you can view, create, edit and delete tasks effortlessly.
    You wiil be able to register your user details, which will be safely stored in a secure database.
    This application allows multiple users to view and manage a single, shared task list.
    Every user sees the same tasks and updates in real-time, making it perfect for teams or groups working together.

Shared Visibility: All users see the same task list, allowing for full transparency across the group.
Real-Time Updates: Any changes made by one user, such as adding, editing, or marking tasks as completed, are immediately reflected for everyone.
Team Collaboration: Users can work together to organize tasks, track progress, and complete items efficiently.
Seamless Access: No matter where you are or what device you use, the shared task list is always available and up-to-date.


</div>