<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit todo</title>
</head>
<body>
    <h2>Edit Todo</h2>
<form action="/update/todo/<%= todo._id %>?_method=PATCH" method="POST">
    <div class="form-group">
        <label for="todo">Todo Item:</label>
        <input type="text" id="todo" name="todo" value="<%= todo.todo %>" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success mt-3">Update</button>

</form>
</body>
</html>
