
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/signup.css">
      
</head>
<body>
    <div class="signup-wrapper">
    <div class="signup-container">
    <h2>Signup ToDo App</h2>
    <form action="/signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Signup</button>
        Already have an account? <a href="/login">Login here</a>.
    </form>
</div>
    <div class="signup-image">
        <img src="https://i.pinimg.com/originals/da/65/a9/da65a982df56fea47c8eefd0a2500bbc.jpg" alt="Login Image">
    </div>
</div>
</body>
</html>
